@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    background-color: #f5c7f7;
}

.hamburger { 
    display: none; 
}

.navbar {
    background-color: #5e63b6;
    color: white; 
    font-weight: 700;
    font-size: 22px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    
}

.navbar a:hover {
  color: lightblue;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container ul {
    list-style: none;
    display: flex;
}

.container ul li {
    margin: 0 10px;
}

.header {
    background-color: #27296d;
    color: #fff;
    min-height: 400px;
}

.hero-section {
    display: block;
    height: 50%;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
}

.header img {
    max-width: 400px;
    padding: 20px;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
}

.hero-section-left p {
    font-size: 1.2rem;
}

.box {
    background-color: #27296d;
    color: white;
    padding: 15px 20px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    flex: 1;
}

svg {
    width: 30px;
    height: 30px;
    color: white;
    margin-right: 10px;

}

.box-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .navbar .container {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 3rem;
        cursor: pointer;
        text-align: center;
    }

    .hero-section-left {
        margin: 0;
    }

    .header img {
        max-width: 200px;
    }

    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }

    .box-title {
        justify-content: center;
    }
}